fastapi
uvicorn
pandas
numpy
scikit-learn
xgboost
joblib
streamlit
supabase==2.22.0
supabase-auth<2.28.0
python-dotenv
requests
python-multipart
torch
langchain-community
langchain-google-genai
langchain-text-splitters
pypdf
boto3
